node_modules
.DS_Store*
.hubot_history
start.sh
start2.sh
start3.sh
.vscode/*

data/todo.json
data/sleepLog.csv
data/sleepLogLast.txt
data/lastSleepLog.txt
data/lifelog.csv
data/lalog.csv
scripts/ignore.js

data/temp/*
!data/temp/.keep